body {
    margin: 0px;
    background-color: black;
    font-family: Helvetica Neue, Helvetica;
}
body a {
    color: gray;
    text-decoration: none; 
}
body a:hover {
    color: yellow; 
}
body .content {
    height: 1398px;
    margin: 0 0 0 5%; 
}
body .content p {
    font-size: 1em;
    margin: 5px 0 5px 5px;
    padding: 0 0 0 auto; 
}
.container {
    max-width: 720px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#sslDataContainer {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
#sslForm {
    margin-top: 20px;
}
#sslForm input[type="text"] {
    padding: 12px;
    margin-top: 10px;
    margin-right: 10px;
}
#sslForm button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
#sslForm button:hover {
    background-color: #0056b3;
}
.ssl-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    font-size: 0.9rem;
}
.ssl-data-table, .ssl-data-table th, .ssl-data-table td {
    border: 1px solid #ddd;
}
.ssl-data-table th, .ssl-data-table td {
    text-align: left;
    padding: 8px 0 0 8px;
    margin-left: 10px;
}
.ssl-data-table th {
    background-color: #f4f4f4;
}
.ssl-data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.ssl-data-table tr:hover {
    background-color: #e8f4f8;
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: 10px auto; /* Centers the container horizontally */
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block; /* Ensures the container is treated as a block-level element */
    }
    .ssl-data-table {
        width: auto; /* Allows the table to adjust its width */
        max-width: 100%; /* Ensures table does not exceed the container's width */
    }
    .ssl-data-table th, .ssl-data-table td {
        padding: 8px; /* Adjust padding as needed */
        margin-left: 0; /* Remove left margin */
        white-space: normal; /* Allows text to wrap */
        word-break: break-word; /* Ensures long words do not overflow */
        width: auto; /* Allows cells to adjust their width */
        min-width: 20%; /* Example minimum width, adjust based on content */
    }
}

